<%= form_for @user do |f| %>
  
  <% if @user.errors %>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="error"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Full name' %>
  </div>
  
  <div class="form-group">
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
  </div>
  
  <%= f.submit "Submit", class: 'btn btn-primary' %>

<% end %>